* {
    box-shadow: inset 0 0 1px red;
}

body {
    margin: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sec-conter {
    height: 100px;
}
.sec-conter ul li {
    display: inline-block;
}
.container {
    margin: 0;
    width: 100%;
    height: 40px;
    background-color: rgb(24, 24, 24);
    margin-left: auto;
    margin-right: auto;
}

[class*="container-a-left"] {
    position: relative;
}

[class*="container-a-right"] {
    position: relative;
    right: -100px;
}

.container-a {
    line-height: 40px;
    color: #a7a7a7;
    font-size: 10px;
    text-decoration: none;
}

.side:hover {
    color: white;
}

a {
    text-decoration: none;
}

.li-blank {
    width: 240px;
    display: block;
    background-color: #000;
}
.bar-con ul,
.bar-con li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.bar-con li a {
    position: relative;
    top: -20px;
    display: block;
    margin: 0;
    width: auto;
    padding: 0 20px;
    text-align: center;
    font-size: 10px;
}
.bar-con {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: rgb(187, 187, 187);
    position: absolute;
    left: 0px;
    top: 160px;
    width: 100%;
    background-color: white;
}
.site-header-a:hover {
    color: #fd6821;
}
.child-item {
    xdisplay: none;
}
.site-header-a:hover + div {
    xposition: absolute;
}
.site-header-a {
    text-decoration: none;
    color: black;
    position: relative;
    padding: 20px 0;
    top: 20px;
    display: inline-block;
    margin: 0 10px;
    font-size: 16px;
}

.milogo {
    position: absolute;
    left: 20px;
    top: 62.5px;
}

.xmilogo::before {
    background: http: //s02.mifile.cn/assets/static/image/logo-mi2.png;
}

.sear {
    position: absolute;
    right: 20px;
    top: 60px;
}

.sear-box {
    height: 40px;
    width: 300px;
    display: block;
}

.datu {
    display: block;
    width: 1226px;
    height: 460px;
    margin: 0 20px;
    background-color: rgb(175, 248, 203);
}

.header {
    margin: 0 20px;
    height: 420px;
    padding: 20px 0;
    background-color: rgba(105, 101, 101, 0.6);
    position: absolute;
    top: 140px;
}

.sidebar {
    width: 200px;
    line-height: 42px;
    padding-left: 30px;
    color: white;
    position: relative;
    display: block;
    text-decoration: none;
}

.sidebar:hover>li {
    display: block;
}

.sidebar:hover {
    background-color: #fd6821;
}

.test:hover {
    background-color: #fff;
}

ul.sidebar1,
ul.sidebar1 li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
}

ul.sidebar1 {
    position: relative;
    right: -230px;
    top: -42px;
}

ul.sidebar1:hover+ul {
    display: block;
    position: relative;
    right: -230px;
}

ul.sidebar1 li {
    width: 172px;
    line-height: 40px;
    text-align: center;
}

ul.sidebar1 li:nth-child(n + 7) {
    margin-left: 250px;
}

ul.sidebar1 li:nth-child(n + 13) {
    margin-left: 500px;
}

ul.sidebar1 li:nth-child(n+19) {
    margin-left: 750px;
}

ul.sidebar1 li:nth-child(6),
ul.sidebar1 li:nth-child(12),
ul.sidebar1 li:nth-child(18) {
    margin-bottom: -240px;
}

.secbottom {
    margin: 15px 20px 0px 20px;
    display: flex;
}

.betbm {
    width: 316px;
    height: 170px;
    margin: 0 15px 15px 0px;
    flex-grow: 10;
    flex-wrap: wrap;
}

[b1] {
    height: 170px;
    width: 234px;
    margin: 0px 15px 15px 0px;
    background-color: rgb(84, 77, 70);
}

.smallbottom {
    display: block;
    width: 76px;
    height: 82px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(190, 188, 188);
    font-size: 12px;
}

.smallbottom:nth-child(n + 3) {
    margin-left: 76px;
}

.smallbottom:nth-child(n + 5) {
    margin-left: 152px;
}

.smallbottom:nth-child(1) {
    margin-top: 4px;
}

.smallbottom:nth-child(2) {
    margin-bottom: -164px;
}

.smallbottom:nth-child(4) {
    margin-bottom: -164px;
}

h2 {
    margin: 0 20px;
    font-weight: normal;
    font-size: 22px;
    color: #333;
    line-height: 58px;
}

.cont-child {
    height: 300px;
    width: 234px;
    background-color: #f1eded;
}
.cont-child:nth-child(1) {
    margin-left: 20px;
}
.cont-child:nth-child(n + 2) {
    margin-left: 15px;
}
.main-title {
    flex-wrap: wrap;
    display: flex;

}
.nwrs {
    padding-top: 50px;
    padding-left: 65px;
}

.uidm {
    display: block;
    font-size: 20px;
    color: red;
    padding-bottom: 50px;
}